[user]
	name = Michael Ambrus
	email = michael@helsinova.se

#	email = michael.ambrus@gmail.com

[core]
	editor = "if [ "X$(grep screen <<< ${TERM})" != "X" ]; \
    then \
      ED='vim -T screen'; \
    else \
      ED='vim'; \
    fi; \
    $ED"
	pager = less -x4
	fileMode = false
	autocrlf = input
	safecrlf = false

[alias]
	co = checkout
	ls = ls-files
	dt = difftool --dir-diff
	br = branch
	ci = commit
	st = status -uno
	files = show --pretty="" --name-only
	unstage = reset HEAD --
	last = log -1 HEAD
	root = rev-parse --show-toplevel
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mrg = merge --no-ff
	cdiff = "!bash -c \"if [ $# -eq 2 ]; then meld 2>/dev/null <(git log --oneline $1) <(git log --oneline $2); else  meld 2>/dev/null <(git log --oneline) <(git log --oneline $1); fi\" "
	ssync = "!bash -c \"git submodule init; git submodule sync; git submodule update\" "
[push]
	default = matching

[color]
	ui = auto

[merge]
	tool = kdiff3
[diff]
	tool = meld


##[url "ssh://dot_siterepo"]
#[url "ssh://git@github.com/helsinova/"]
#    insteadOf = ssh://siterepo/

[url "ssh://mambrus@kato2:/home/gits/helsinova/"]
    insteadOf = ssh://siterepo/



##[url "ssh://mambrus@kato2:/home/gits/dot/"]
##    insteadOf = ssh://dot_siterepo/

[url "ssh://git@github.com/helsinova/"]
    insteadOf = ssh://dot_siterepo/

#- #-----------------------------------------------------------------
#- # Point **-->> helsinova <<--** github references to inner server (all
#- # variants)
#- #-----------------------------------------------------------------
#[url "ssh://mambrus@kato2:/home/gits/helsinova/"]
#    insteadOf = https://github.com/helsinova/
#    insteadOf = ssh://git@github.com/helsinova/
#    insteadOf = git@github.com:helsinova/

[url "git@github.com:helsinova/"]
    insteadOf = https://github.com/helsinova/

#- #-----------------------------------------------------------------
#- # Point **-->> mambrus <<--** github references to inner server (all
#- # variants). Note that not all kato2 mambrus/ is yet moved and organized.
#- #-----------------------------------------------------------------
#[url "ssh://mambrus@kato2:/home/gits/mambrus/"]
#    insteadOf = https://github.com/mambrus/
#    insteadOf = ssh://git@github.com/mambrus/
#    insteadOf = git@github.com:mambrus/

[url "git@github.com:mambrus/"]
    insteadOf = https://github.com/mambrus/

[url "ssh://mambrus@kato2/"]
    insteadOf = ssh://hornet.mooo.com:1793/

###############################
## Site repositories remapping
###############################
#
###############################
## At home (hornet) /
## Outside FW working with backup repos
###############################
##[url "ssh://mambrus@hornet.mooo.com:/home/repos/"]
##    insteadOf = ssh://sigmarepo/
##
##[url "ssh://mambrus@hornet.mooo.com:/home/repos/"]
##    insteadOf = ssh://siterepo/
#
###############################
## At home (kato2) /
## Inside FW
###############################
#[url "ssh://mambrus@kato2:/home/gits/"]
#    insteadOf = ssh://sigmarepo/
#
#[url "ssh://mambrus@kato2:/home/gits/"]
#    insteadOf = ssh://siterepo/
#
###############################
## At home (kato.ambrus.se) /
## Outside FW working with backup repos
###############################
##[url "ssh://mambrus@kato.ambrus.se:/home/gits/"]
##    insteadOf = ssh://sigmarepo/
#
##[url "ssh://mambrus@kato.ambrus.se:/home/gits/"]
##    insteadOf = ssh://siterepo/


[url "ssh://michael.ambrus@review.terranet.ab:29418"]
	insteadOf = ssh://review.terranet.ab:29418
